@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
	background-color:#F8F8F8;
	height: 1080px;
	}
	
	p {
	font-family: 'Noto Sans', sans-serif;
	font-weight:400;
	font-size: 17px;
	line-height: 28px;
	padding-bottom: 20px;
	}
	
header {
	height: 50px;
	width: 100%;
	background-color: white;
	border-bottom:1px solid #EAEAEA;
	padding: 10px;
	margin: 0;
	}
	
h1 { 
	padding-left:30px;
	margin: inherit;
	font-size: 30px;
	vertical-align:middle;
	line-height: 50px;
	color:black;
	display: inline-block;
	font-family: 'Noto Sans', sans-serif;
	font-weight:700;
	}
	
h2 {
	font-family: 'Noto Sans', sans-serif;
	  font-weight:700;
	}

button { 
	position: absolute;
	right: 50px;
	background-color: #2993e2;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	color: white;
	border-radius: 5px;
	border-style: solid;
	border: none;
	font-family: 'Noto Sans', sans-serif;
	font-weight:400;
	font-size:15px;
	top: 25px;
	}


div.main { 
	width: 60%;
 	margin: auto;
 	padding-top: 50px;
	}

#full-width-paragraph { 
	margin-left:10px;
	margin-right:10px;
	}

#half-width-paragraph { 
	margin-left:10px;
	margin-right:10px;
	width:45%;
	float:left;
	}
	
img {
	max-width:100%;
	}
	
@media only screen  and (max-width : 768px) {

#half-width-paragraph { 
	float: none;
    margin-right:0;
    width:auto;
	
	}
	
}
